.hero_text {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: #ea580c;
}

.text-stroke {
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: #ea580c;
}

.circular-progress-bar {
  background: white;
}

.circular-progress-bar::before {
  position: absolute;
  content: "";
  height: 78%;
  width: 78%;
  background: #fff;
  z-index: 0;
  border-radius: 50%;
}
